__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Specific to this project
openapi.json
openapi_full.json
openapi_verified.json
.vscode/
.idea/
.env
